[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
pypom-selenium = {file = ".", editable = true}
selenium = "*"
pytest = "*"
mock = "*"
black = "*"
twine = "*"
tox = "*"

[requires]
python_version = "3.8"
